<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Вход на сайт</title>
    <script src='https://www.google.com/recaptcha/api.js'></script>
</head>
<body>
<form action="login.php" method="post">
    <table>
        <tr>
            <td>Логин:</td>
            <td>
                <label>
                    <input type="text" name="log">
                </label>
            </td>
        </tr>
        <tr>
            <td>Пароль:</td>
            <td>
                <label>
                    <input type="text" name="password">
                </label>
            </td>
        </tr>
        <tr>
            <td>
                <label>Запомнить:
                    <input type="checkbox" name="remem" />
                </label>
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <div class="g-recaptcha" data-sitekey="6LfMIQ0UAAAAAGZFh8lqd847wFEC99H0QcCmugfQ"></div>
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" name="action" value="Войти"/>
            </td>
        </tr>
    </table>
</form>
<p>
    <a href="index.html">На главную</a>
</p>
</body>
</html>